/* *{
    margin: 0;
    padding: 0;

} */
.main-sec{
    box-shadow: 5px 14px 11px 15px rgba(227,209,209,0.75);

}
.mid{
    text-align: center;
}
.k1{
    margin-left: 250px;
    margin-right: 250px;
    
}
.k1 h3{
    text-align: center;
}
.k1 h3 a{
    text-align: center;
    font-size: 10px;
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
nav.k1 h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    
}
.k1 h5{
    text-align: center;
font-weight: lighter;
}
.bg-1{
    margin-left: 250px;
    margin-right: 250px;
}
.git{
    font-weight: bold;
    font-size: 18px;
}
.bg-1 h4 p{
    font-weight: lighter;
    font-size: 18px;
}
.bg-2{
    margin-left: 250px;
    margin-right: 250px;   
}
.bg-2 h4 p{
    font-weight: lighter;
    font-size: 18px;
}
.bg-2 h1{
    font-weight: bold;
    font-size: 20px;
}
.bg-3{
    margin-left: 250px;
    margin-right: 250px;
}
.bg-3 h4 p{
    font-weight: lighter;
    font-size: 18px;
}
.bg-3 h2{
    font-weight: bold;
    font-size: 18px;
}

.bg-4{
    margin-left: 250px;
    margin-right: 250px;
}

.bg-5{
    margin-left: 250px;
    margin-right: 250px;
}
.bg-5 h2{
    font-size: 18px;
    font-weight: bold;
}
.bg-5 h4 p{
    font-size: 18px;
    font-weight: lighter;
}
.bg-6{
    margin-left: 250px;
    margin-right: 250px;
}
.bg-6 h2{
    font-weight: bold;
}
.bg-6 h4 p{
    font-weight: lighter;
    font-size: 18spx;
}
.bg-7{
    margin-left: 250px;
    margin-right: 250px;
}
.bg-8{
    margin-left: 250px;
    margin-right: 250px;
}
.bg-8 h4 p{
    font-size: 18px;
    font-weight: lighter;

}
.bg-8 h2{
    font-size: 21px;
    font-weight: bold;
}
.bg-8 ul{
    font-size: 18px;
    font-weight: lighter;
}
.bg-9{
    margin-left: 250px;
    margin-right: 250px;
}
.bg-9 h2{
    font-size: 21px;
    font-weight: bold;
}
.bg-9 h3{
    font-weight: bold;
    font-size: 18px;
}
.bg-9 h4 p{
    font-weight: lighter;
    font-size: 18px;
}
.bg-9 h1{
    text-align: center;
    font-size: 15px;
}
.bg-9 h1 a{
    color: rgba(160, 4, 4, 0.925);
    text-decoration: underline;
}
.kid-1{
    margin-left: 250px;
    margin-right: 250px;
}
.kid-1 h4 p{
    font-size: 18px;
    font-weight: lighter;
}
.kid-1 h6{
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;
}
.kid-2{
    margin-left: 250px;
    margin-right: 250px;
}
.kid-2 h2{
    font-size: 21px;
    font-weight: bold;
}
.kid-2 h4 p{
    font-size: 18px;
    font-weight: lighter;
}
.kid-2 h5 a{
    font-size: 18px;
    color: rgba(160, 4, 4, 0.925);
    text-decoration: underline;
}
.kid-3{
    margin-left: 250px;
    margin-right: 250px;
}
h4 p a{
    color: rgba(160, 4, 4, 0.925);
    text-decoration: underline;
    font-weight: bold;
}
.kid-4{
    margin-left: 250px;
    margin-right: 250px;
}
.kid-5{
    margin-left: 200px;
    margin-right: 200px;
}
.foot{
    background-color: black;
}